.item {
  padding: 0.25rem;
  margin-bottom: 0.125rem;
  margin-top: 0.125rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  filter: brightness(200%);
  background: rgba(255, 255, 255, 0.2);
}

.item:active {
  filter: brightness(100%);
  background: rgba(255, 255, 255, 0.3);
}

.wrapper {
  opacity: 0.9;
  background-color: rgba(0, 0, 0);
  position: fixed;
  min-width: 12.5rem;
  top: 12rem;
  left: 12rem;
  color: #999;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  font-family: monospace;
}
